.form-group > label {
    margin-left: 10px;
    /*text-transform: uppercase;*/
}

.form-check {
    padding-left: 40px;
}

.form-group-required label:before {
    content: '*';
}


/*form image*/
.label-img-upload {
    margin-left: 0px !important;
    width: 100%;
    height: 350px;
    line-height: 350px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 20px;
    border: solid 2px #9BCBEB;
    transition: border-radius 0.1s;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
}


/* form group padrão */
.form-group > input.form-control,
.form-group > select.form-control {
    border-radius: 20px;
    border: solid 2px #9BCBEB;
    transition: border-radius 0.1s;
}
.form-group > input.form-control:focus,
.form-group > select.form-control:focus {
    border-radius: 5px;
    border-color: lightgreen;
    box-shadow: 0px 0px 0px 0.2rem greenyellow;
    transition: border-radius 0.3s;
}
.form-group > .form-text-error {
    display: none;
}


/* form group invalid */
.form-group > input.form-control.ng-touched.ng-invalid, 

.form-group > input.form-control.ng-touched.ng-invalid-required,
.form-group > select.form-control.ng-touched.ng-invalid-required,

.form-group > input.form-control.ng-touched.ng-invalid-mask,
.form-group > select.form-control.ng-touched.ng-invalid-mask,

.form-group > input.form-control.ng-touched.ng-invalid-invalido,
.form-group > select.form-control.ng-touched.ng-invalid-invalido  {
    border-radius: 20px;
    border: solid 2px red;
}


.form-group > input.form-control.ng-touched.ng-invalid:focus, 
.form-group > select.form-control.ng-touched.ng-invalid:focus, 

.form-group > .input.form-control.ng-touched.ng-invalid-required:focus,
.form-group > .select.form-control.ng-touched.ng-invalid-required:focus,

.form-group > .input.form-control.ng-touched.ng-invalid-invalido:focus
.form-group > .select.form-control.ng-touched.ng-invalid-invalido:focus

.form-group > .input.form-control.ng-touched.ng-invalid-mask:focus
.form-group > .select.form-control.ng-touched.ng-invalid-mask:focus
 {
    border-radius: 5px;
    border-color: red;
    box-shadow: 0px 0px 0px 0.2rem lightcoral;
    transition: border-radius 0.3s;
}
.form-group-invalid > .form-text-error {
    display: block;
}
.form-text-error {
    display: none;
}
.form-text-show-error {
    display: block !important;
}